* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .hide {
    display: none;
 }
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* shared style */
.text-center {
    text-align: center;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    border: none;
    background-color: #FD6E0A;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 30px;
    color: white;
    border-radius: 5px;
}
.btn1 {
    cursor: pointer;
    margin-right: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn2 {
    cursor: pointer;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn2:hover {
    color: black;
}
.section-title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description {
    margin-bottom: 20px;
    font-size: 16px;
    color: #757575;
}
.header {
    background-color: #FFF8F3;
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* New styles */
nav {
    padding: 35px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 0 ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2 {
    color: #474747;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title {
    margin-bottom: 20px;
    font-size: 75px;
    font-weight: bold;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.banner-description {
    font-size: 18px;
    margin-bottom: 20px;
}
.banner-profile-pic {
    padding-top: 150px;
    width: 400px;
    position: relative;
    right: -35px; /* Pushes it to the right */
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* main style */
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about style */
.about {
    position: relative;
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    text-align: center;
}
.about-section {
    width: 827px;
    height: 288px;
    background: white;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.about-items {
    display: flex;
    justify-content: space-between;
}
.item-description {
    font-weight: 600;
}
.about-description {
    margin: 30px 0;
    line-height: 30px;
}

/* what I do section start */
.skills{
    margin: 0 auto;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    padding: 30px 30px 45px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{
    padding-bottom: 20px;
}
.skill-title{
    padding-bottom: 20px;
}

/* A summary of My Resume */
.resume-container {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}
.resume-title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 35px;
    font-weight: bold;
}
.experience {
    margin-right: 47px;
}
.resume-column-title {
    margin-bottom: 30px;
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.experience-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-description, 
.experience-sub-title {
    color: #757575;
}
.experience-sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.experience-description {
    margin-bottom: 30px;
    font-size: 16px;
    padding: 0 25px 0 0;
    line-height: 28px;
}
.resume-container hr {
    color: #D1D1D1;
    margin-bottom: 30px;
}
.btn3 {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.contact-section {
    display: flex;
    align-items: center;
    gap: 100px;
}
.contact-form,
.contact-info {
    width: 50%;
}
footer {
    padding: 130px 230px;
}
.info-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}
.form-info{
    font-size: 25px;
    font-weight: bold;
}
.info-description {
    margin-bottom: 25px;
    line-height: 28px;
}
.s-icon {
    cursor: pointer;
    padding: 8px 20px;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    border-radius: 8px;
}
.f-link{
    text-decoration: none;
}
footer textarea{
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    display: block;
    width: 100%;
    outline: none;
}
footer input[type="text"], footer input[type="email"] {
    height: 64px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    display: block;
    width: 100%;
    border: none;
    margin: 24px 0;
    outline: none;
}
.btn5 {
    cursor: pointer;
}


/* Small Device */

@media screen and (max-width:576px) {
    .skills-container,
    .resume-container,
    .about-items,
    .banner,
    nav,
    nav ul {
    flex-direction: column;
}
nav {
    margin: 0 10px;
    padding: 35px 0 35px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    margin: 10px 0;
}
nav ul li:last-child {
    margin-top: 25px;
}
.header {
    background-color: #FFF8F3;
    background-image: none;
}
.banner{
    margin: 10px;
    text-align: center;
}
.banner-greetings {
    font-size: 30px;
}
.banner-title {
    font-size: 45px;
}
.btn1 {
    display: block;
    margin: 15px auto;

}
.banner-profile-pic {
    padding-top: 40px;
    width: 100%;
    right: 0;
}
main section {
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-description {
    padding: 0 20px;
    text-align: justify;
}
.resume-column {
    padding: 20px;
}
.experience-description {
    padding: 0;
}
.contact-section{
    flex-direction: column-reverse;
}
.contact-form,
.contact-info {
    width: 100%;
    text-align: center;
}
footer {
    padding: 20px;
}
.about {
    width: 100%;
    height: auto;
}
.about-section {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 0;
    margin: 0 auto;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
}

.about-items {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}







}